@using Doctor_Appointment.ViewModels;
@model EditDoctorVM

@{
    ViewData["Title"] = "Edit";
}
<div class="container col-lg-9">
    <div class="px-5 align-content-center">
        <h3>Edit Doctor information</h3>

        <hr />
        <div class="row ">
            <div class="col-md-12 d-flex justify-content-end">
                <form class="row g-3 form-body d-flex justify-content-between" asp-action="Edit" id="form">
                    <div asp-validation-summary="All" class="text-danger col-12"></div>
                   
                    <input asp-for="Id" hidden value="@Model.Id" />
                    <div class="col-9"> <h6> <u>Personal Details</u> </h6></div>

                    <div class="col-lg-5 col-md-8">
                        <div class="row  align-items-center">
                            <div class="col-3">
                                <label asp-for="FullName" class="control-label">  Name</label>
                            </div>
                            <div class="col">
                                <input asp-for="FullName" class="form-control" />
                            </div>
                        </div>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8">
                        <div class="row  align-items-center">
                            <div class="col-3">
                                <label asp-for="Gender" class="control-label"> Gender </label>
                            </div>
                            <div class="col">
                                <select asp-for="Gender" class="form-control" asp-items="@(Html.GetEnumSelectList<Gender>())"></select>
                            </div>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-8">
                        <div class="row  align-items-center">
                            <div class="col-3">
                                <label asp-for="Specialist" class="control-label"></label>
                            </div>
                            <div class="col">
                                <select asp-for="Specialist" class="form-control" asp-items="@(Html.GetEnumSelectList<Spectialist>())"></select>
                            </div>
                        </div>
                        <span asp-validation-for="Specialist" class="text-danger"></span>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8">
                        <div class="row  align-items-center">
                            <div class="col-3">
                                <label asp-for="Degree" class="control-label"></label>
                            </div>
                            <div class="col">
                                <select asp-for="Degree" class="form-control" asp-items="@(Html.GetEnumSelectList<MedicalDegree>())"></select>
                            </div>
                        </div>
                        <span asp-validation-for="Degree" class="text-danger"></span>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>


                    <div class="col-9"> <h6> <u>Clinic Information</u> </h6></div>
                    <div class="col-lg-5 col-md-8">
                        <div class="row  align-items-center">
                            <div class="col-3">
                                <label asp-for="Clinic_Location" class="control-label">Clinic Location</label>
                            </div>
                            <div class="col">
                                <input asp-for="Clinic_Location" class="form-control" />
                            </div>
                        </div>
                        <span asp-validation-for="Clinic_Location" class="text-danger"></span>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="row  align-items-center">
                            <div class="col-3">
                                <label asp-for="Price" class="control-label">Examination fees</label>
                            </div>
                            <div class="col">
                                <input type="text" asp-for="Price" class="form-control" />
                            </div>
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>


                    <div class="col-lg-5 col-md-8">
                        <div class="row  align-items-center">
                            <div class="col-3">
                                <label asp-for="Clinic_PhonNum" class="control-label">Clinic Phone</label>
                            </div>
                            <div class="col">
                                <input asp-for="Clinic_PhonNum" class="form-control" />
                            </div>
                        </div>
                        <span asp-validation-for="Clinic_PhonNum" class="text-danger"></span>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8">
                        <div class="row  align-items-center">
                            <div class="col-3">
                                <label asp-for="Description" class="control-label"></label>
                            </div>
                            <div class="col">
                                <input asp-for="Description" class="form-control" />
                            </div>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8">
                        <div class="row  align-items-center">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="HomeExamination" /> Home Examination
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <br />
                        </div>
                    </div>
           
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn  btn-round-full mt-3 " style="color:#fff ; background-color:#e12454" />
                        <a asp-action="Index" class="btn  btn-round-full mt-3 bg-gray btn-gray" style="color:#223a66">Cansel</a>

                    </div>
                </form>
            </div>
        </div>

        <div>
        </div>
    </div>


</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
 

}

